<template>
  <div class="pt-15">
    <lottie-animation
      :width="230"
      path="LottieHome.json"
      class="justify-center pt-15"
    />
    <div class="container">
      <v-card rounded="xl" width="30vw" class="grey--text justify-center">
        <v-card-title class="grey--text justify-center">
          <span
            >Welcome to the
            <span class="primary--text">Skanestas ticker viewer</span>!
          </span>
        </v-card-title>
        <v-card-subtitle class="grey--text container text-center">
          (Or call it whatever you want 🙃)
        </v-card-subtitle>
        <v-card-subtitle class="grey--text container text-center">
          <span>
            This app is supposed to be your provider to the fake financial
            world,
            <br />
            due to all the data here is generated.
            <br />
            Don't hesitate to check all the other tabs.
          </span>
        </v-card-subtitle>
      </v-card>
    </div>
  </div>
</template>


<script>
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue"; // import lottie-vuejs

export default {
  components: {
    LottieAnimation,
  },
  data: () => ({}),
};
</script>


<style scoped>
.container {
  display: flex;
  justify-content: center;
}
</style>