<template>
  <v-container fluid>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="xl" color="card" elevation="3">
          <v-card-title> News category </v-card-title>
          <v-card-subtitle class="grey--text"
            >Select a category</v-card-subtitle
          >
          <v-divider></v-divider>
          <v-list color="transparent" shaped dense class="pb-5">
            <v-list-item-group v-model="selectedCategory" color="primary">
              <v-list-item v-for="category in categories" :key="category" link>
                <v-list-item-content>
                  <v-list-item-title> {{ category }} </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-sheet>
        <v-sheet rounded="xl" color="card" elevation="3" class="mt-3">
          <v-card-title> Ticker </v-card-title>
          <v-card-subtitle class="grey--text">Select a ticker</v-card-subtitle>
          <v-select
            class="mx-1 rounded-lg"
            v-model="selectedTickers"
            :items="tickers"
            chips
            label="Tickers"
            multiple
            filled
            small-chips
            deletable-chips
            :menu-props="dropdownSettings"
            rounded
            hide-details
          >
            <template v-slot:append>
              <v-icon color="primary">mdi-chevron-down</v-icon>
            </template>
          </v-select>
          <v-divider class="my-2"></v-divider>
          <v-card-actions class="justify-center">
            <v-btn color="primary" rounded>
              <v-icon left>mdi-magnify</v-icon>
              SEARCH
            </v-btn>
          </v-card-actions>
        </v-sheet>
      </v-col>

      <v-col cols="10">
        <v-sheet
          height="87vh"
          rounded="xl"
          color="card"
          elevation="3"
          class="px-6"
        >
          <v-container fluid style="overflow: scroll; height: 87vh">
            <br />
            <v-row dense>
              <v-col v-for="article in articles" :key="article.title" :cols="4">
                <v-card class="ma-2" color="grey darken-3" rounded="lg">
                  <v-img
                    :src="article.urlToImage"
                    class="white--text align-end"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.9)"
                    height="240px"
                  >
                    <v-card-title>
                      <div class="headerClass">
                        {{ article.title }}
                      </div>
                    </v-card-title>
                    <v-card-subtitle> {{ article.author }} </v-card-subtitle>
                  </v-img>
                  <v-card-text>
                    {{ article.content }}
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  components: {},
  data: () => ({
    categories: ["Markets", "Politics", "Tech", "Pharm"],
    dropdownSettings: {
      top: false,
      offsetY: true,
      openOnHover: false,
      rounded: "lg",
    },
    selectedCategory: 2,
    selectedTickers: [],
    tickers: [
      "AAPL",
      "MSFT",
      "GOOG",
      "GOOGL",
      "TSM",
      "FB",
      "YNDX",
      "SBER",
      "WMD",
      "HD",
      "MA",
    ],
    articles: [
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Manish Singh",
        title: "Flipkart founder's Navi files for $440 million IPO",
        description:
          "Sachin Bansal’s Navi Technologies, a fintech startup that lends to and offers insurance to customers, has filed for a $440 million IPO as the 40-year-old entrepreneur who made his money by kick starting the e-commerce wave in the country once again makes a bo…",
        url: "https://techcrunch.com/2022/03/12/navi-ipo-sachin-bansal/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/GettyImages-634332718.jpg?w=615",
        publishedAt: "2022-03-12T15:38:49Z",
        content:
          "Sachin Bansals Navi Technologies, a fintech startup that lends to and offers insurance to customers, has filed for a $440 million IPO as the 40-year-old entrepreneur who made his money by kick starti… [+3463 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Alex Kalogiannis",
        title: "The Mini Cooper SE is a fun EV with some catching up to do",
        description:
          "Electrifying a car like the two-door Mini Cooper seems like a brilliant, forehead-slapping “why didn’t we think of this before” kind of concept and Mini certainly agrees. The brand has been toying with the concept since 2009, with the limited run of the Mini …",
        url: "https://techcrunch.com/2022/03/12/electric-mini-cooper-se-ev-review/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/mini-cooper-alex-kalogianni-side-view.jpg?w=600",
        publishedAt: "2022-03-12T15:00:20Z",
        content:
          "Electrifying a car like the two-door Mini Cooper seems like a brilliant, forehead-slapping “why didn’t we think of this before” kind of concept and Mini certainly agrees.\r\nThe brand has been toying w… [+9346 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Natasha Mascarenhas",
        title: "AngelList Venture has a new look",
        description:
          "On Tuesday, AngelList Venture closed a $100 million round led by Tiger Global and Accomplice, valuing the business at $4.1 billion.",
        url: "https://techcrunch.com/2022/03/12/angellist-tiger-global-money/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2021/02/GettyImages-900715146-1.jpg?w=600",
        publishedAt: "2022-03-12T14:30:20Z",
        content:
          "On Tuesday, AngelList Venture closed its first tranche of institutional funding since spinning out on its own in 2020. The $100 million round was led by Tiger Global and Accomplice, valuing the busin… [+715 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Alex Wilhelm",
        title: "The startup growth paradox",
        description:
          "Welcome to The TechCrunch Exchange, a weekly startups-and-markets newsletter. It’s inspired by the daily TechCrunch+ column where it gets its name. Want it in your inbox every Saturday? Sign up here.  Friends! Welcome to the weekend. I hope you are resting an…",
        url: "https://techcrunch.com/2022/03/12/the-startup-growth-paradox/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2020/06/NSussman_Techcrunch_Exchange-multicolor.jpg?w=533",
        publishedAt: "2022-03-12T14:00:38Z",
        content:
          "Welcome to The TechCrunch Exchange, a weekly startups-and-markets newsletter. Its inspired by the daily TechCrunch+ column where it gets its name. Want it in your inbox every Saturday? Sign up here. … [+3862 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Lucas Matney",
        title: "Bored Apes maker Yuga Labs acquires CryptoPunks NFT collection",
        description:
          "Bored Apes Yacht Club maker Yuga Labs announced Friday that they have acquired the rights to the CryptoPunks and Meebits NFT collections from NFT company Larva Labs. Bored Apes and CryptoPunks are the two most valuable NFT collections by market cap, and hold …",
        url: "https://techcrunch.com/2022/03/11/bored-apes-maker-yuga-labs-acquires-cryptopunks-nft-collection/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2021/08/cryptopunks-lucas.jpg?w=640",
        publishedAt: "2022-03-11T23:32:16Z",
        content:
          "Bored Apes Yacht Club maker Yuga Labs announced Friday that they have acquired the rights to the CryptoPunks and Meebits NFT collections from NFT company Larva Labs.\r\nBored Apes and CryptoPunks are t… [+2273 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Alex Wilhelm",
        title:
          "Daily Crunch: Byju’s founder chips in toward $800M funding round to reach $22B valuation",
        description:
          "Hello friends and welcome to Daily Crunch, bringing you the most important startup, tech and venture capital news in a single package.",
        url: "https://techcrunch.com/2022/03/11/daily-crunch-byjus-founder-chips-in-toward-800m-funding-round-to-reach-22b-valuation/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2021/03/GettyImages-1132893022.jpg?w=600",
        publishedAt: "2022-03-11T23:30:00Z",
        content:
          "To get a roundup of TechCrunchs biggest and most important stories delivered to your inbox every day at 3 p.m. PST, subscribe here.\r\nHello and welcome to Daily Crunch for Friday, March 11, 2022! Oh b… [+3495 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Haje Jan Kamps",
        title:
          "Diamond Age picks up $50M to lay the foundation for the future of houses built by robots",
        description:
          "Hot on the heels from its $8 million fundraise just a few months ago, Diamond Age is back for a top-up, with a $50 million Series A financing to continue its mission to make homeownership more affordable by using 3D printing and robotics technologies to make …",
        url: "https://techcrunch.com/2022/03/11/diamond-age-series-a/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/DIAMOND_AGE_20210472.2_larger.jpg?w=599",
        publishedAt: "2022-03-11T22:35:29Z",
        content:
          "Hot on the heels from its $8 million fundraise just a few months ago, Diamond Age is back for a top-up, with a $50 million Series A financing to continue its mission to make homeownership more afford… [+3204 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Connie Loizos",
        title:
          "VC and native Ukrainian Alex Iskold is funneling money to Ukranian refugees, $1K at a time",
        description:
          "Alex Iskold is “one of the luckiest people you’ve ever met,” he says from his office in New York. He’s the cofounder and managing partner of a venture firm, 2048 Ventures. He previously spent five years with Techstars as the managing director of its New York …",
        url: "https://techcrunch.com/2022/03/11/vc-and-native-ukrainian-alex-iskold-is-funneling-money-to-ukranian-refugees-1k-at-a-time/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/GettyImages-1238745728.jpg?w=600",
        publishedAt: "2022-03-11T21:53:38Z",
        content:
          "Alex Iskold is “one of the luckiest people you’ve ever met,” he says from his office in New York. He’s the cofounder and managing partner of a venture firm, 2048 Ventures. He previously spent five ye… [+5252 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Walter Thompson, Ram Iyer",
        title:
          "TechCrunch+ roundup: Tested TAM tips, no-code tech survey, writing crypto white papers",
        description:
          "For most products, TAM is presented in nine figures or more, but when you're planning to disrupt a billion-dollar market, these numbers can create a lot of cognitive dissonance.",
        url: "https://techcrunch.com/2022/03/11/techcrunch-roundup-tested-tam-tips-no-code-tech-survey-writing-crypto-white-papers/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/GettyImages-1348089632.jpg?w=611",
        publishedAt: "2022-03-11T20:48:40Z",
        content:
          "For many first-time founders, determining the size of the market in which they hope to compete is one of their biggest challenges.\r\nI haven’t launched a successful startup, but I have helped write se… [+5546 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Miranda Halpern",
        title:
          "For founders who want to launch apps, 'being non-technical is not a limitation'",
        description:
          "To get a look at how development agency Intent tailors its approach to client needs, we spoke with Wojciech Borkowski, head of business development, and CTO Peter Tuszynski.",
        url: "https://techcrunch.com/2022/03/11/for-founders-who-want-to-launch-apps-being-non-technical-is-not-a-limitation/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2022/03/GettyImages-1124662352.jpg?w=600",
        publishedAt: "2022-03-11T20:11:24Z",
        content:
          "Based in Warsaw, Poland, Intent assists a wide variety of companies with everything from product design and UX to development and deployment of connected devices. It caters to diverse sectors, with c… [+7405 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Alex Wilhelm",
        title: "The startup growth paradoxes",
        description:
          "Welcome to The TechCrunch Exchange, a weekly startups-and-markets newsletter. It’s inspired by the daily TechCrunch+ column where it gets its name. Want it in your inbox every Saturday? Sign up here.  Friends! Welcome to the weekend. I hope you are resting an…",
        url: "https://techcrunch.com/2022/03/12/the-startup-growth-paradox/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2020/06/NSussman_Techcrunch_Exchange-multicolor.jpg?w=533",
        publishedAt: "2022-03-12T14:00:38Z",
        content:
          "Welcome to The TechCrunch Exchange, a weekly startups-and-markets newsletter. Its inspired by the daily TechCrunch+ column where it gets its name. Want it in your inbox every Saturday? Sign up here. … [+3862 chars]",
      },
      {
        source: {
          id: "techcrunch",
          name: "TechCrunch",
        },
        author: "Lucas Matney",
        title:
          "Bored Apes maker Yuga Labs acquires CryptoPunks NFT collections",
        description:
          "Bored Apes Yacht Club maker Yuga Labs announced Friday that they have acquired the rights to the CryptoPunks and Meebits NFT collections from NFT company Larva Labs. Bored Apes and CryptoPunks are the two most valuable NFT collections by market cap, and hold …",
        url: "https://techcrunch.com/2022/03/11/bored-apes-maker-yuga-labs-acquires-cryptopunks-nft-collection/",
        urlToImage:
          "https://techcrunch.com/wp-content/uploads/2021/08/cryptopunks-lucas.jpg?w=640",
        publishedAt: "2022-03-11T23:32:16Z",
        content:
          "Bored Apes Yacht Club maker Yuga Labs announced Friday that they have acquired the rights to the CryptoPunks and Meebits NFT collections from NFT company Larva Labs.\r\nBored Apes and CryptoPunks are t… [+2273 chars]",
      },
    ],
  }),
  methods: {
    switchTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;

      localStorage.setItem(
        "theme",
        this.$vuetify.theme.dark ? "dark" : "light"
      );
    },
  },
};
</script>

<style scoped>
.headerClass {
  white-space: nowrap;
  word-break: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.theme--dark.v-list {
  background: #333333;
  color: #ffffff;
}
</style>
