<template>
  <v-container fluid>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="xl" color="card" elevation="3">
          <v-card-title> Menu </v-card-title>
          <v-card-subtitle class="grey--text">Select a ticker</v-card-subtitle>
          <v-select
            class="mx-1 mb-3 rounded-lg"
            v-model="selectedTicker"
            :items="tickers"
            label="Tickers"
            filled
            dense
            :menu-props="dropdownSettings"
            rounded
            hide-details
          >
            <template v-slot:append>
              <v-icon color="primary">mdi-chevron-down</v-icon>
            </template>
          </v-select>
          <v-card-actions class="justify-center">
            <v-btn color="primary" class="black--text" :disabled="!selectedTicker" small rounded :to="'/tickers/' + selectedTicker">
              show
            </v-btn>
          </v-card-actions>
        </v-sheet>
        <br />
        <v-sheet rounded="xl" color="card" elevation="3">
          <v-card-title> How to use </v-card-title>
          <v-card-text class="grey--text">
            You just need to select the ticker you are interested in in the menu
            and click the <span class="primary--text">SHOW</span> button. Next,
            you will see the spline itself.
            <br />
            <br />
            The graph can be moved and zoomed with the mouse or
            trackpad.
            <br />
            <br />
            To change the scale of the price axis, you just need to drag it up
            or down.
            <br />
            <br />
            <span class="primary--text">P.S.</span> All the data here in UTC
            timezone.
          </v-card-text>
        </v-sheet>
      </v-col>

      <v-col cols="10">
        <v-sheet min-height="80vh" rounded="xl" color="card" elevation="3">
          <vue-page-transition name="fade-in-down">
            <router-view :key="$route.path"> </router-view>
          </vue-page-transition>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  components: {},
  data: () => ({
    tickers: [],
    selectedTicker: null,
    dropdownSettings: {
      top: false,
      offsetY: true,
      openOnHover: false,
      rounded: "lg",
    },
  }),
  methods: {},
  created() {
    axios.get("http://localhost:8000/tickers").then((response) => {
      this.tickers = response.data.sort();
    });
  },
};
</script>


<style scoped>
.theme--dark.v-list {
  background: #333333;
  color: #ffffff;
}
</style>
