<template>
  <div>
    <lottie-animation
      :width="230"
      path="LottieHome.json"
      class="justify-center pt-15"
    />
    <v-card-title class="grey--text justify-center">
      Welcome to the tickers page!
    </v-card-title>
    <v-card-subtitle class="grey--text container">
      <span>
        On this page, you can view information on tickers and track price
        changes in real time.
      </span>
    </v-card-subtitle>
    <v-card-subtitle class="grey--text container">
      <span>
        If you are ready to start click the
        <span class="orange--text">SHOW</span> button.
      </span>
    </v-card-subtitle>
  </div>
</template>


<script>
import LottieAnimation from "lottie-vuejs/src/LottieAnimation.vue"; // import lottie-vuejs

export default {
  components: {
    LottieAnimation,
  },
  data: () => ({}),
};
</script>


<style scoped>
.container {
  display: flex;
  justify-content: center;
}
</style>