<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <marquee class="mt-2 py-1 rounded grey darken-4" v-bind="attrs" v-on="on">
        <v-chip
          color="transparent darken-3"
          v-for="ticker in tickers"
          :key="ticker.name"
          :to="'/tickers/' + ticker.name"
        >
          <v-icon color="green" class="mr-1" v-if="ticker.change > 0"
            >mdi-trending-up</v-icon
          >
          <v-icon color="red" class="mr-1" v-else>mdi-trending-down</v-icon>
          <span class="mr-1 green--text" v-if="ticker.change > 0">{{
            ticker.change
          }}</span>
          <span class="mr-1 red--text" v-else>{{ ticker.change }}</span>
          <span class="mr-1 grey--text">{{ ticker.name }}</span>
        </v-chip>
      </marquee>
    </template>
    <span>CLick on ticker to see spline</span>
  </v-tooltip>
</template>

<script>
export default {
  data: () => ({
    tickers: [
      {
        name: "ticker_00",
        change: 0.08,
      },
      {
        name: "ticker_01",
        change: -0.09,
      },
      {
        name: "ticker_02",
        change: 0.01,
      },
      {
        name: "ticker_03",
        change: -0.03,
      },
      {
        name: "ticker_04",
        change: -0.02,
      },
      {
        name: "ticker_05",
        change: -0.05,
      },
      {
        name: "ticker_06",
        change: 0.01,
      },
      {
        name: "ticker_07",
        change: 0.01,
      },
      {
        name: "ticker_08",
        change: 0.1,
      },
      {
        name: "ticker_09",
        change: 0.1,
      },
      {
        name: "ticker_10",
        change: -0.06,
      },
      {
        name: "ticker_11",
        change: 0.0,
      },
      {
        name: "ticker_12",
        change: -0.03,
      },
      {
        name: "ticker_13",
        change: -0.03,
      },
      {
        name: "ticker_14",
        change: 0.1,
      },
      {
        name: "ticker_15",
        change: 0.04,
      },
      {
        name: "ticker_16",
        change: -0.07,
      },
      {
        name: "ticker_17",
        change: 0.04,
      },
      {
        name: "ticker_18",
        change: 0.04,
      },
      {
        name: "ticker_19",
        change: -0.1,
      },
      {
        name: "ticker_20",
        change: 0.04,
      },
      {
        name: "ticker_21",
        change: -0.09,
      },
      {
        name: "ticker_22",
        change: 0.07,
      },
      {
        name: "ticker_23",
        change: 0.01,
      },
      {
        name: "ticker_24",
        change: -0.01,
      },
      {
        name: "ticker_25",
        change: -0.06,
      },
      {
        name: "ticker_26",
        change: 0.03,
      },
      {
        name: "ticker_27",
        change: 0.09,
      },
      {
        name: "ticker_28",
        change: 0.1,
      },
      {
        name: "ticker_29",
        change: 0.01,
      },
      {
        name: "ticker_30",
        change: 0.06,
      },
      {
        name: "ticker_31",
        change: -0.09,
      },
      {
        name: "ticker_32",
        change: 0.0,
      },
    ],
  }),
};
</script>
