<template>
  <div>
    <v-card rounded="xl" flat id="plotWrapper" color="card">
      <v-card-text>
        <trading-vue
          :data="graph"
          :title-txt="ticker_id"
          color-back="transparent"
          color-text="#707070"
          color-title="#FF9800"
          colorCross="#874400"
          colorGrid="#272727"
          colorVolUp="red"
          :timezone="3"
          :width="this.width"
          :height="this.height"
        ></trading-vue>
      </v-card-text>
    </v-card>
    <v-card-subtitle class="grey--text">
      Current price is: <span class="success--text">{{ currentPrice }}</span>
      <br/>
      Number of points: {{ graph.chart.data.length }}
    </v-card-subtitle>
  </div>
</template>
<script>
import TradingVue from "trading-vue-js";
import axios from "axios";

export default {
  name: "app",
  components: { TradingVue },
  data() {
    return {
      width: 600,
      height: 600,
      ticker_id: this.$route.params.ticker_id,
      currentPrice: 0,
      graph: {
        chart: {
          type: "Spline",
          data: [],
          settings: {
            backColor: "#9b9ba316",
          },
          tf: "1s",
          indexBased: true,
          grid: {},
        },
      },
    };
  },
  methods: {
    onResize() {
      this.width = document.getElementById("plotWrapper").offsetWidth * 0.98;
      this.height = document.getElementById("plotWrapper").offsetHeight * 0.95;
    },
    addData(point) {
      if (this.graph.chart.data.length >= 3000) {
        this.graph.chart.data.splice(0, 1);
        this.graph.chart.data.push(point);
      } else {
        this.graph.chart.data.push(point);
      }
    },
  },
  created() {
    axios
      .get(`http://localhost:8000/ticker/${this.ticker_id}/history`)
      .then((response) => {
        this.graph.chart.data = response.data;
      });
  },
  mounted() {
    window.addEventListener("resize", this.onResize);
    this.onResize();
    this.connection = new WebSocket(
      `ws://localhost:8000/ticker/${this.ticker_id}/stream`
    );

    this.connection.onmessage = (event) => {
      this.addData(JSON.parse(event.data));
      this.currentPrice = JSON.parse(event.data)[1];
    };
  },
  destroyed() {
    this.connection.close();
  },
};
</script>