<template>
  <v-app id="inspire">
    <v-app-bar app flat class="py-0 mx-0 px-0" color="card" height="53">
      <v-menu nudge-bottom="15" rounded="xl" offset-y min-width="10vw">
        <template v-slot:activator="{ on, attrs }">
          <v-avatar
            class="mr-7"
            color="grey darken-1"
            size="42"
            v-bind="attrs"
            v-on="on"
          >
            <v-img src="@/assets/example_avatar.jpg"></v-img>
          </v-avatar>
        </template>

        <v-list>
          <v-list-item v-for="item in menuItems" :key="item.name">
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-btn
        to="/"
        active-class="primary black--text"
        text
        rounded
        class="mx-1"
      >
        <v-icon small left>mdi-home-variant</v-icon>
        Home
      </v-btn>
      <v-btn
        to="/tickers"
        active-class="primary black--text"
        text
        rounded
        class="mx-1"
      >
        <v-icon small left>mdi-chart-areaspline</v-icon>
        Tickers
      </v-btn>
      <v-btn
        to="/news"
        active-class="primary black--text"
        text
        rounded
        class="mx-1"
      >
        <v-icon small left>mdi-newspaper-variant</v-icon>
        News
      </v-btn>

      <v-spacer></v-spacer>
      <v-responsive max-width="360" min-height="">
        <running-line />
      </v-responsive>

      <v-responsive max-width="260" class="ml-2 mr-1">
        <v-autocomplete
          dense
          flat
          hide-details
          rounded
          solo-inverted
          v-model="selectedTicker"
          :menu-props="dropdownSettings"
          :items="tickers"
          append-icon="mdi-chevron-down"
          placeholder="Search ticker"
          @keyup="inputChanged"
        ></v-autocomplete>
      </v-responsive>
    </v-app-bar>

    <v-main>
      <vue-page-transition name="fade-in-down">
        <router-view />
      </vue-page-transition>
    </v-main>
    <v-footer padless color="card darken">
      <v-col class="text-center" cols="12">
        {{ new Date().getFullYear() }} — Made with
        <v-icon color="red">mdi-heart</v-icon> and
        <span class="teal--text">VueJS</span> by
        <strong>Alexey Filimonov</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import RunningLine from "@/components/RunningLine.vue";
import axios from "axios";

export default {
  components: {
    RunningLine,
  },
  data: () => ({
    selectedTicker: null,
    tickers: [],
    menuItems: [
      { name: "Settings", icon: "mdi-user" },
      { name: "Log Out", icon: "mdi-user" },
    ],
    dropdownSettings: {
      top: false,
      offsetY: true,
      openOnHover: false,
      rounded: "xl",
    },
  }),
  created() {
    axios.get("http://localhost:8000/tickers").then((response) => {
      this.tickers = response.data.sort();
    });
  },
  methods: {
    inputChanged(event) {
      if (event.code == "Enter" && this.selectedTicker) {
        this.$router.push("/tickers/" + this.selectedTicker);
      }
    },
  },
};
</script>

<style scoped>
.blob_fire {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;

  box-shadow: 0 0 0 0 rgb(255, 128, 0);
  transform: scale(1);
  animation: pulse_fire 2s infinite;
}

@keyframes pulse_fire {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 128, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 128, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 38, 255, 0);
  }
}
.theme--dark.v-list {
  background: #333333;
  color: #ffffff;
}
</style>